# vscode workspace
.vscode/

# debug output
httpParser.out
httpParser.out.dSYM/

# cmake
cmake-build-debug/
cmake-build-remotedebug/
build/

# macos stuff
.DS_Store

# idea
.idea/

# cache
.cache/

# compile_commands for YCM and etc.
compile_commands.json
